@charset "UTF-8";

h1 {
	color: #fff !important;
}

form {
	margin-top: 6%;
}

input {
	margin-bottom:13px;
	border-radius: 7px;
    border-style: none;
    height: 30px;
    padding: 2px 12px;
}

label {
	color: #eee;
	font-family: Arial, sans-serif;
	font-weight: 600;
}