@charset "UTF-8";

html, body{
	width: 100%;
	height: 100%;
	text-align: center;
}

h1 {
	color: #fff !important;
}

table{
	border-collapse: collapse;
	margin: auto;
	width: 70%;
}

tr:nth-child(even) {
	background-color: #3e9594;
}

th, td{
	padding: 13px;
	font-family: Arial, sans-serif;
	text-align: left;
	color: #eee;
}

td.acoes {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

th.acoes {
	text-align: center;
}

.acoes .botao-menor{
	position: initial !important;
}
