<!DOCTYPE html>
<html xmlns="http://www.w3;org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title th:text="${titulo}? |${titulo} Turma| : _"> Cadastrar Turma</title>
</head>
<body>
	<h1 th:text="${titulo}? |${titulo} Turma| : _"> Cadastrar Turma</h1>
	<form th:action="${titulo}? _ : 'turma'" method="post" >
		<label>Sala</label> <br/>
		<input name="sala" type="text" placeholder="Sala" th:value="${turma}? ${turma.sala} : _"> <br/>
		<label>Professor</label> <br/>
		<input name="professor.nome" type="text" placeholder="Professor" th:value="${turma}? ${turma.professor.nome} : _"> <br/>
		<button type="submit"  th:text="${titulo}? ${titulo} : _" >Cadastrar</button>
	</form>
</body>
</html>